body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
nav ul{
    list-style: none;
    padding-left: 1.5rem;
    padding-top: 0.8rem;
    padding-right: 1.5;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.menubar{
    padding-right: 2rem;
    vertical-align: middle;
}
.heroimage img{
    width: 100%;
    height: auto;
}
.unleashyour {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;    
    line-height: 3.3rem;
    color: white;
    font-size: 2rem;
}
.appgooglestore {
    width: 50%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 20%;
    line-height:3rem;    
}